*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --hue:200;
    --saturation:50%;
    --foreground-color:hsl(var(--hue),var(--saturation),75%);
    --background-color:hsl(var(--hue),var(--saturation),20%);
}
body{
    margin:0;
    background-color: var(--background-color);
    overflow: hidden;

}
.paddle{
    --position:50;
    --height:10;
    position: absolute;
    background-color: var(--foreground-color);
    top:calc(var(--position)*1vh);
    transform:translateY(-50%);
    height:calc(var(--height)*1vh);
    width:1vh;
    border-radius:2vh;
}
.paddle.left{
    left:1vw;
}
.paddle.right{
    right:1vw;
}
.ball{
    --x:50;
    --y:50;
    --size:3;
    position: absolute;
    background-color: var(--foreground-color);
    left:calc(var(--x)*1vw);
    top:calc(var(--y)*1vh);
    transform:translate(-50%,-50%);
    height:calc(var(--size)*1vh);
    width:calc(var(--size)*1vh);
    border-radius:50%;
}
.score{
    display:flex;
    justify-content: center;
}
.score > *{
    font-weight:bold;
    color:var(--foreground-color);
    flex-grow:1;
    flex-basis:0;
    font-size:4vh;
    padding:0 2vh;
    margin:1vh 0;
    opacity:0.5;
}
.score > :first-child{
    text-align: right;
    border-right:0.4vh solid var(--foreground-color);
}